@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800');

:root {
    --Inter: "Inter", sans-serif;
    --Manrope: "Manrope", sans-serif;
    --black: rgb(0,0,0);
    --lightGrey: rgb(218,220,224);
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    font-family: var(--Inter);
    font-weight: bold;
}

.empty-cart-container a {
    color: var(--black);
    text-decoration: underline;
    font-weight: normal;
}