@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

:root {
    --RockSaltFont: "Rock Salt", cursive;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

li {
    display: flex;
    gap: 1rem;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.shop-name {
    font-family: var(--RockSaltFont);
}